@import"reset.css";
@import"accordion.css";


@font-face {
    font-family: "Museo Cyrl 700";
    src: url("https://db.onlinewebfonts.com/t/5d23cb75253ca214c8715a65ab8286bd.eot");
    src: url("https://db.onlinewebfonts.com/t/5d23cb75253ca214c8715a65ab8286bd.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/5d23cb75253ca214c8715a65ab8286bd.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/5d23cb75253ca214c8715a65ab8286bd.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/5d23cb75253ca214c8715a65ab8286bd.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/5d23cb75253ca214c8715a65ab8286bd.svg#Museo Cyrl 700")format("svg");
}


svg, svg path, span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .h3 {
        font-size: 18px;
    }
}

.container {

    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 40px 0 40px;
}

.container_margin-80 {
    margin-bottom: 80px;
}

@media (max-width:768px) {
    .container {
        padding: 30px 20px 0 20px;
    }
}

@media (max-width:576px) {
    .container {
        padding: 30px 10px 0 10px;
    }
}

.main-banner {
    display: flex;
    width: 100%;
    justify-content: center;
}


.main-banner__wrapper {
    background-color: #93bbea;
    max-width: 1200px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 54px;
}

.main-banner__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 263px;
    height: 196px;
    left: 0;
    top: 39px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/svg/banner-image/tg.svg");
}

.main-banner__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 278px;
    height: 226px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../img/svg/banner-image/tel.svg);
}

.main-banner__title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    z-index: 1;
}

.main-banner__title {
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Museo Sans Cyrl', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    margin-bottom: 4px;
}

@media (max-width:768px) {
    .main-banner__title {
        line-height: 100%;
        margin-bottom: 10px;
        font-size: 45px;
    }
    .main-banner__subtitle {
        font-size: 15px;
    }
    .main-banner__wrapper {
        padding: 30px 15px;
    }
}

@media (max-width:568px) {
    .main-banner__title {
        font-size: 30px;
    }
    .main-banner__subtitle {
        font-size: 14px;
    }
    .main-banner__wrapper {
        padding: 30px 7px;
    }
    
}

.main-banner__subtitle {
    display: flex;
    width: 100%;
    text-align: center;
    max-width: 535px;
    font-family: 'Museo Sans Cyrl', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 23.8px;

}

.main-banner__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}


.main-banner__links-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 17px 5px;
    background-color: white;
    font-size: 16px;
    border-radius: 12px;
    width: 160px;
    max-height: 48px;
    gap: 8.5px;
    flex-wrap: wrap;
}

.main-banner__links-wrapper {
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
}

.main-banner__links-wrapper:hover svg path {
    fill: #36ba5f;
}

.main-banner__links-wrapper:hover span {
    color: #36ba5f;
}

.main-banner__links-text {
    font-weight: 600px;
    color: rgb(26, 26, 26);

}

.main-banner__links-svg {
    position: relative;
    height: 15px;
    width: 15px;
}


@media (max-width: 567px) {
    .main-banner__links {
        flex-direction: column;
    }
    .main-banner__links-wrapper {
        display: flex;
        width: 100%;

    }
    .main-banner__links-item {
        width: 100%;
    }
}

/* Section socialmedia */

.main-socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}

.main-socialmedia__wrapper {
    background-color: white;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 159px;
    -webkit-box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
    box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
    padding: 40px 42px;
    max-width: 996px;
    width: 100%;
  
}

@media (max-width: 996px) {
    .main-socialmedia__wrapper {
    gap: 20px;
    padding: 28px 27px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 490px;
}
}

@media (max-width: 576px) {
    .main-socialmedia__wrapper {
    gap: 20px;
    padding: 20px 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 490px;
}
}

.main-socialmedia__item:hover svg {
    opacity: 0.6;
}

.main-socialmedia__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.main-socialmedia__text-title {
    font-size: 15px;
    font-weight: 700;
}

.main-socialmedia__text-subtitle, .h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .h2 {
        font-size: 35px;
    }
    .main-socialmedia__text  {
        text-align: center;

    }
}

@media (max-width: 768px) {
    .h2 {
        font-size: 25px;
    }

}


.main-socialmedia__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 14px;
    justify-content: center;
    
}

@media (max-width: 768px) {
    .main-socialmedia__links {
        flex-wrap: wrap;
    }
}

.main-socialmedia__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-radius: 14px;
    background-color: #F9F9F9;
    width: 56px;
    height: 56px;
}

.main-socialmedia__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* SECTION FAQ */
.faq {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.faq__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.faq__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.faq__slider-wrapper {
    margin: 0 -20px;
}

.slider {
    display: flex;
 
    width: 100%;
    min-width: 0px;
    height: auto;
    padding: 20px;
}
.swiper-slide:hover {
    cursor: pointer;
}

.swiper-slide:hover h3 {
    color: #36ba5f;
}

.slider__item {
    height: auto;
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow:0px 0px 13px rgba(26, 26, 26, 0.05);
    box-shadow: 0px 0px 13px rgba(26, 26, 26, 0.05);
    padding: 16px;
    height: 100%;
    width: 100%;
}

.slider__item-wrapper {
    height: auto;
}

.slider__item:hover slider__h3 {
    color: green;

}

.slider__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;


}

.slider__text {
    color: #949494;
    font-size: 15px;
    line-height: 140%;

}

/* SECTION HELP */
.help {

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.help__wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
    max-width: 996px;
    padding: 32px 0px;
}

.help__title {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    width: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    content: 'next';
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    /* font-size: var(--swiper-navigation-size); */
    font-size: 2px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}



.swiper-nav-btn:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px rgba(26, 26, 26, 0.05);
    box-shadow: 0px 0px 5px rgba(26, 26, 26, 0.05);
    padding: 10px 10px;
    font-size: 12px !important;
    font-weight: 900;
    width: 44px;
    height: 44px;
    padding: 20px 20px;
}